/* custom.css */

body {
    background-color: #00172B; /* Background color */
    color: #FFFFFF; /* Text color */
    font-family: Arial, sans-serif; /* Font family */
  }
  
  .stButton>button {
    background-color: #154c79 !important; /* Primary color for buttons */
  }
  
  .stTextInput>div>div>input,
  .stTextArea>div>div>textarea {
    background-color: #063970 !important; /* Secondary background color for input fields */
  }
  
  .stSelectbox>div>div>div>div>div>div {
    background-color: #063970 !important; /* Secondary background color for select boxes */
  }
  